.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview__info {
  display: block;
  color: white;
}
.fighter-preview__info span {
  font-weight: 700;
}

.fighter-preview__avatar {
  max-height: 300px;
}